body,
html {
  background-color: #0b0d0f;
  color: #ffff;
  font-family: 'Manrope', Helvetica, sans-serif;
  font-style: normal;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: #ffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.worker-menu {
  background-color: #0e1012;
}

.worker-panels {
  display: flex;
}

.worker-menu {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 25px;
}

.worker-logo {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
  transition: all 0.3s;
  cursor: pointer;
}

.logo-link:hover {
  opacity: 0.7;
}

.logo-link span {
  color: #3077ff;
}

.logo-link svg {
  margin-right: 13px;
}

.close-menu {
  margin-left: 74px;
  background: #0b0d0f;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.close-menu:hover {
  opacity: 0.7;
}

.worker-logo {
  padding-bottom: 22px;
  border-bottom: 1px solid #13171b;
}

.menu {
  margin-top: 78px;
  height: 90vh;
}

.menu-list__item {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu-list__item a {
  margin-left: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #32363a;
  transition: all 0.3s;
}

.menu-list__item:hover a {
  color: #ffffff;
}

.menu-list__item svg path {
  transition: all 0.3s;
}

.menu-list__item:hover svg path {
  fill: #3077ff;
}

.active-item a {
  color: #ffffff;
}

.active-item {
  border-right: 1px solid #3077ff;
}

.worker-panel {
  width: 100%;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-top: 24px;
  padding-bottom: 15px;
  padding-right: 44px;

  border-bottom: 1px solid #13171b;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.worker-header__select {
  display: flex;
}

.prev-route {
  margin-right: 12px;

  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;

  color: #32363a;
  transition: all 0.3s;
}

.prev-route:hover {
  color: #ffffff;
}

.current-route {
  margin-left: 12px;

  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;

  color: #ffffff;
}

.worker-header__select {
  display: flex;
  align-items: center;
}

.worker-profile {
  margin-left: 10px;
  margin-right: 8px;

  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;

  color: #ffffff;
  transition: all 0.3s;
  cursor: pointer;
}

.worker-profile:hover {
  opacity: 0.7;
}

.logout-button {
  margin-left: 36px;
}

.logout-button {
  padding: 11px 20px;
  display: flex;
  align-items: center;

  background: linear-gradient(117.67deg, #3077ff 17.49%, #085bf8 105.01%),
    linear-gradient(0deg, #2471eb, #2471eb), #d9d9d9;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.logout-button svg {
  margin-right: 10px;
}

.logout-button:hover {
  opacity: 0.7;
}

.coinwork-logo.active {
  display: none;
}

.menu-item.active {
  display: none;
}

.worker-menu.active {
  width: 60px;
}

.close-menu.active {
  margin-left: 0px;
  margin-right: 30px;
}

.promo-panel {
  padding-top: 50px;
  padding-left: 50px;
  max-width: 780px;
  display: flex;
  flex-direction: row;
}

.users-stats {
  padding: 25px 30px;
  background-color: #0e1012;
  border-radius: 10px;
}

.chart-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 39px;
}

.chart-header div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.chart-periods__list {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.chart-title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-right: 20px;
}

.chart-count {
  padding-left: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #3c4043;

  border-left: 1px solid #13171b;
}

.chart-count span {
  color: #ffffff;
}

.chart-periods__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chart-periods__list li {
  padding: 2px 8px;
  margin-right: 11px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;

  background: #1b1d1f;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.chart-periods__list li:hover {
  background-color: #2471eb;
}

.user-total__count {
  margin-top: 20px;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #0e1012;
  border-radius: 10px;
}

.total-left {
  display: flex;
  align-items: center;
}

.total-text {
  margin-left: 16px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.total-count {
  padding: 2px 8px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;

  background: linear-gradient(159.3deg, #2f76ff 7.8%, #085bf8 106.69%), #1b1d1f;
  border-radius: 8px;
}

.money-stats-block {
  margin-left: 20px;
}

@media (max-width: 1905px) {
  .promo-panel {
    flex-direction: column;
  }
  .user-total__count {
    margin-bottom: 20px;
  }

  .money-stats-block {
    margin-left: 0px;
  }
}

@media (max-width: 925px) {
  .prev-route {
    font-size: 12px;
  }

  .current-route {
    font-size: 12px;
  }

  .worker-profile {
    font-size: 12px;
    white-space: nowrap;
  }

  .logout-button {
    font-size: 12px;
    white-space: nowrap;
    margin-right: 40px;
  }

  .user-total__count {
    width: calc(100vw - 30vw - 10px);
  }
}

@media (max-width: 540px) {
  .panel-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-right {
    margin-top: 10px;
  }

  .total-text {
    white-space: nowrap;
  }

  .user-total__count {
    flex-direction: column;
    max-width: 200px;
    justify-content: center;
    align-items: center;
  }

  .total-left {
    justify-content: space-between;
  }

  .chart-count {
    white-space: nowrap;
    margin-right: 10px;
  }

  .chart-title {
    white-space: nowrap;
  }
}

@media (max-width: 400px) {
  .header-right {
    flex-direction: column;
  }

  .worker-header__select {
    margin-top: 10px;
  }
}
