/* clear */

.transactions-block {
  margin-top: 33px;
  margin-bottom: 30px;
  display: grid;
  width: 100%;
  border-radius: 10px;
}

.block-columns {
  display: flex;
  flex-direction: row;
}

.column-item {
  padding: 21px 30px;

  font-family: 'Manrope Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.column-item:hover {
  background-color: #0f1214;
  opacity: 0.7;
}

.column-item__active {
  background-color: #0f1214;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.transaction-table {
  background-color: #0f1214;
  padding: 30px;
  width: 100%;
}

.status {
  min-width: 191px;
}
.amount {
  min-width: 241px;
}
.trans-type {
  min-width: 247px;
}
.address {
  min-width: 421px;
}
.date {
  min-width: 205px;
}

table tr th {
  text-align: left;
  font-family: 'Manrope Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #3c4043;
}

.amoun-coin {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coin-transaction {
  margin-right: 10px;
}

.accept-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accept-btn {
  margin-right: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.accept-btn:hover {
  opacity: 0.7;
}

.cancel-btn {
  margin-left: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.cancel-btn:hover {
  opacity: 0.7;
}

table tbody tr td {
  padding: 11px 0;
}

.operation-status {
  font-family: 'Manrope Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.status-waiting {
  color: #f7931a;
}

.status-pending {
  color: #ffe600;
}

.status-error {
  color: #ff6363;
}
.status-success {
  color: #52ff00;
}
