body,
html {
  background-color: #0b0d0f;
  color: #ffff;
  font-family: 'San Francisco Pro', Helvetica, sans-serif;
  font-style: normal;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  color: #ffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'San Francisco Pro', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e1012;
}

.header {
  display: flex;
}

.header-nav {
  width: 100%;
  padding-right: 5.31%;
}

.header__end-left {
  background: #13171b;
  width: 1px;
  height: 35px;
  margin-left: 36px;
}

.header-nav__list {
  display: flex;
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  list-style-type: none;
}

.list-links__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
}

.list-links__user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-title {
  margin-left: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.logo-title span {
  color: #145dea;
  font-size: 16px;
  line-height: 22px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  transition: all 0.3s;
  color: #32363a;
}

.header-link:hover {
  color: #ffffff;
}

.list-links__wallet {
  padding: 12px 24px;
  margin-right: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  transition: all 0.3s;
}

.list-links__wallet:hover {
  border: 1px solid #145dea;
  color: #145dea;
}
/* 
main {
  display: flex;
  justify-content: center;
} */

.balance-page {
  /* width: 100%; */
  min-width: calc(100% - 5.31%);
  /* padding: 0 5.31%; */
  padding-right: 5.31%;
}

.balance-page__panels {
  display: flex;
}

.balance-page__menu {
  min-height: 89vh;
  width: 170px;
  min-width: 170px;
  margin-left: 15px;
  /* min-width: 100px; */
  /* padding-right: 20px; */
  border-right: 1px solid #13171b;
  padding-bottom: 30px;
}

.menu-list {
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.transaction {
  display: flex;
  align-items: center;
  padding-bottom: 37px;

  border-bottom: 1px solid #13171b;
}

.menu-link {
  margin-left: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #32363a;
  transition: all 0.3s;
}

.menu-list__two {
  display: flex;
  align-items: center;
  padding-top: 37px;
}

.mobile-dop_menu {
  background: #1a1b1d;
  width: 40px;
  height: 40px;
  z-index: 1;
  position: fixed;
  border-radius: 0px 5px 5px 0;
  cursor: pointer;
  left: 0;
  display: none;
  transition: all 0.4s;
}

.mobile-dop_menu svg {
  padding-left: 16px;
  padding-top: 16px;
}

.balance-page__menu.activ ~ .mobile-dop_menu {
  left: calc(50% + 17px);
}

@media (max-width: 600px) {
  .balance-page__menu {
    min-width: 200px;
    position: fixed;
    transform: translateX(-150vw);
    z-index: 1;
    background: #0b0d0f94;
    left: 0;
    padding: 0;
    width: 100%;

    transition: all 0.4s;
  }

  header {
    width: 100%;
    position: fixed;
    z-index: 111;
  }

  .mobile-dop_menu {
    display: block;
  }

  .balance-page__menu {
    margin-top: -2px;
  }

  .menu-list__item {
    margin: 15px 0;
  }

  .balance-page__menu.activ {
    transform: translateX(0);
  }

  .menu-list {
    padding-top: 0;
    display: flex;
    height: 72vh;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #13171b;
    width: 50%;
    background: #0b0d0f;
    padding-bottom: 20px;
    overflow: auto;
  }
}

/* url(#paint0_linear_69_168) */

.menu-list__two:hover a {
  color: #ffffff;
}

.menu-list__item:hover a {
  color: #ffffff;
}

.transaction:hover a {
  color: #ffffff;
}

.balance-page__panel {
  margin-left: 3.07vw;
  margin-top: 47px;
  width: calc(100% - 50px - 170px);
}

.panel-title {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.panel-title p {
  margin-right: 15px;

  font-weight: 500;
  font-size: 18px;
  line-height: 92.5%;

  color: #ffffff;
}

.panel-title svg {
  cursor: pointer;
}

.panel-balance {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.trading-balance {
  padding-right: 50px;
}

.trading-title {
  margin-bottom: 15px;

  font-family: 'Manrope';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #32363a;
}

.trading-usd {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.trading-usd span {
  font-family: 'Manrope';
  font-size: 42px;
  line-height: 57px;
}

.trading-btc {
  margin-top: 1px;

  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;

  color: #32363a;
}

.spot-balance {
  padding-left: 50px;
  border-left: 1px solid #13171b;
}

thead {
  padding-bottom: 100px;
}

.coins-columns p {
  font-family: 'San Francisco Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #32363a;
}

.column-coin {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #32363a;
}

.coin-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.all-coins__table {
  width: 100%;
}

.coins-columns th {
  font-family: 'SF Pro Display', sans-serif;
  text-align: left;
}

.column-wallet {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  color: #32363a;
}

tbody tr td {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #13171b;
}

.coins-table {
  margin-top: 17px;
}

.table-coin div {
  display: flex;
  align-items: center;
}

.table-coin img {
  margin-right: 8px;
}

.table-coin p {
  margin-right: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #ffffff;
}

.table-coin span {
  color: #32363a;
}

.table-wallet p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #ffffff;
}

.table-equ p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  white-space: nowrap;

  color: #ffffff;
}

.table-operations {
  white-space: nowrap;
  text-align: right;
}

.table-operations button {
  padding: 5px 11px;
  margin-right: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
  text-align: center;

  color: #4f4f4f;

  border: 1px solid #4f4f4f;
  background: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.all-coins {
  margin-top: 75px;
}

.table-columns {
  display: flex;

  max-width: 910px;
  margin-right: auto;
  justify-content: space-between;
  padding-bottom: 17px;
}

.column-equ {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  color: #32363a;
}

.coin-name {
  display: flex;
  justify-content: space-around;
  min-width: 100px;
}

.table-operations button:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.deposit-img {
  width: 144px;
  height: 144px;
  margin: 0 auto;
}

.deposit-modal,
.transfer-modal,
.bitcoin-deposit__modal {
  height: 100vh;
  overflow: auto;
}

.visually-hidden {
  display: none;
}

.deposit-form {
  display: flex;
  padding: 42px 42px;
  flex-direction: column;
  width: 390px;
  background-color: #121518;
  border-radius: 25px;
}

.deposit-img {
  margin-bottom: 15px;
}

.select-network {
  width: 389px;
  height: 45px;
}

.deposit-button {
  width: 389px;
  height: 45px;
}

.deposit-title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 19px;

  color: #ffffff;
}

.deposit-coin__label {
  margin-bottom: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.select-coin__block {
  position: relative;
  z-index: 3;
}

.hide-balance {
  cursor: pointer;
  transition: all 0.3s;
}

.hide-balance:hover {
  opacity: 0.7;
}

.select-coin {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 24px;
  margin-bottom: 230px;
  height: 45px;

  color: #ffffff;

  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  background-color: #121518;
}

.select-coin img {
  width: 33px;
  height: 33px;
  margin: 0 8px;
}

.select-coin p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.select-coin span {
  margin-left: 5px;
  margin-right: auto;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #32363a;
}

.select-coin svg,
.select-network svg {
  min-width: 7px;
  height: 5px;
}

.coin-select__list {
  position: absolute;
  padding-bottom: 18px;
  z-index: -1;
  top: 10px;
  width: 80%;
  border: 1px solid #22282f;
  border-radius: 25px;
  background-color: #121518;
}

.select-list__item {
  transition: all 0.4s;
  cursor: pointer;
}

.select-list__item:hover {
  background-color: #1b1f22;
  border-right: 1px solid #0047d0;
}

.select-list__item:hover .сhoose-coin {
  background-color: #1b1f22;
}

.сhoose-coin span {
  margin-left: 8px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #32363a;
}

.сhoose-coin {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 24px;
  height: 45px;

  color: #ffffff;
  transition: all 0.3s;
  outline: none;
  border-radius: 22.5px;
  background-color: #121518;
}

.choose-coin__photo {
  width: 20px;
  height: 20px;
  margin: 0 8px;
}

.deposit-network__label {
  margin-bottom: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.select-network {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 24px;
  margin-bottom: 30px;
  height: 45px;
  width: 349px;

  color: #ffffff;

  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  background-color: #121518;
}

.select-network p {
  padding-left: 6px;
  margin-right: auto;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.deposit-button {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #ffffff;
  border: none;
  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%),
    linear-gradient(265.56deg, #246cf9 -0.27%, #1e68f6 -0.26%, #0047d0 98.59%);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
}

.deposit-button:hover {
  opacity: 0.7;
}

.available-balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  padding-right: 6px;
  padding-left: 6px;
  margin-bottom: 25px;

  background-color: #2471eb;
  border-radius: 23px;
}

.available-balance img {
  width: 33px;
  height: 33px;
}

.available-balance p {
  margin-left: 10px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.available-balance span {
  margin-left: 10px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #8bb8ff;
}

.withdraw-btc {
  margin-right: 70px;
}

.withdraw-form {
  display: flex;
  padding: 42px 42px;
  flex-direction: column;
  width: 390px;
  background-color: #121518;
  border-radius: 25px;
  margin-bottom: 30px;
}

.form-header__transfer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.cross-close {
  transition: all 0.3s;
  cursor: pointer;
}

.cross-close:hover {
  opacity: 0.7;
}

.amount-input {
  height: 45px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  background-color: #121518;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  color: #ffffff;
  outline: #0047d0;
  transition: all 0.3s;
}

.amount-input:focus {
  border: 1px solid #0047d0;
}

.transfer-form {
  display: block;
  padding: 42px 42px;
  flex-direction: column;
  width: 845px;
  height: 554px;
  background-color: #121518;
  border-radius: 25px;
  /* margin: 0 auto; */
}

.transfer-coin {
  display: flex;
  margin-top: 13px;
  align-items: center;
  flex-direction: row;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 24px;
  margin-bottom: 30px;
  height: 45px;

  color: #ffffff;

  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  background-color: #121518;
}

.transfer-coin__label {
  margin-bottom: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}
.transfer-title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 19px;
  /* or 19px */

  color: #ffffff;
}

.transfer-coin img {
  margin-right: 15px;
}

.transfer-coin p {
  margin-right: 5px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.transfer-coin span {
  margin-right: 665px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #32363a;
}

.transfer-choose {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  /* justify-content: space-between; */
}

.transfer-from__title {
  margin-bottom: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.from-select {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 21px;
  width: 368px;
  height: 29px;

  border: 1px solid #22282f;
  border-radius: 22.5px;
}

.from-select p {
  margin-right: 280px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.transfer-to__title {
  margin-bottom: 13px;
  margin-left: 21px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.transfer-svg {
  cursor: pointer;
}

.transfer-svg path {
  transition: all 0.3s;
}

.transfer-svg:hover path {
  fill: #0047d0;
}

.to-select {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 21px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 368px;
  height: 29px;

  border: 1px solid #22282f;
  border-radius: 22.5px;
}

.transfer-svg {
  margin-top: 35px;
}

.to-select p {
  margin-right: 280px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.available-btc {
  width: 830px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  height: 33px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 30px;

  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%), #2471eb;
  border-radius: 22.5px;
}

.available-btc img {
  margin-right: 10px;
}

.available-btc p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.available-btc span {
  margin-left: 5px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #8bb8ff;
}

.amount-transfer {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 13px;
}

.amount-transfer__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 33px;
  padding-left: 10px;
  width: 100%;
  padding-bottom: 6px;
  padding-right: 110px;
  margin-bottom: 30px;
  padding-top: 6px;
  border: 1px solid #22282f;
  background-color: #121518;
  border-radius: 22.5px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  outline: none;
  color: #ffffff;
}

.amount-transfer__input::placeholder {
  color: #22282f;
}

.max-amount {
  padding: 5px 7px;
  position: absolute;
  right: 5px;

  bottom: 38px;

  border: 1px solid #2471eb;
  border-radius: 22.5px;
  cursor: pointer;
  transition: all 0.3s;
}

.max-amount:hover {
  opacity: 0.7;
}

.transfer-button {
  padding: 11px 374px;

  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%),
    linear-gradient(265.56deg, #246cf9 -0.27%, #1e68f6 -0.26%, #0047d0 98.59%);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
}

.transfer-button:hover {
  opacity: 0.7;
}

.bitcoin-deposit__wrapper {
  /* position: absolute;
  width: 130vw;
  height: 250vh;
  background: rgba(11, 13, 15, 0.7);
  backdrop-filter: blur(5px); */
}

.bitcoin-deposit__modal {
  /* height: 538px;
  width: 474px; */
}

.bitcoin-form {
  display: flex;
  padding: 42px 42px;
  flex-direction: column;
  width: 432px;
  height: 728px;
  background-color: #121518;
  border-radius: 25px;
}

.bitcoin-title {
  margin-bottom: 16px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 19px;

  color: #ffffff;
}

.bitcoin-description {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #32363a;
}

.bitcoin-payment__about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bitcoin-payment__about img {
  width: 144px;
  height: 144px;
  margin-bottom: 30px;
}

.bitcoin-payment__title {
  margin-bottom: 15px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.bitcoin-payment__description {
  margin-bottom: 15px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #32363a;
}

.bitcoin-payment__minimal {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 25px;

  color: #ff6363;
}

.bitcoin-address__label {
  margin-bottom: 13px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.input-address {
  width: 418px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #22282f;
  outline: none;
  background-color: #121518;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 50px;
  color: #ffffff;
  margin-bottom: 30px;
}

.bitcoin-address__input {
  position: relative;
}

.copy-address {
  position: absolute;
  bottom: 46px;
  right: 8px;

  cursor: pointer;
  transition: all 0.3s;
}

.copy-address:hover path {
  fill: #0047d0;
}

.bitcoin-deposit__button {
  padding-top: 11px;
  padding-bottom: 11px;

  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;

  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%),
    linear-gradient(265.56deg, #246cf9 -0.27%, #1e68f6 -0.26%, #0047d0 98.59%);
  border-radius: 100px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.bitcoin-deposit__button:hover {
  opacity: 0.7;
}

.burger {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #075af8;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #075af8;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.header__menu {
  display: flex;
  margin-left: 3.07vw;
  width: 100%;
  max-width: 429px;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1020px) {
  .burger {
    display: flex;
    overflow-y: hidden;
    margin-right: 10px;
    right: 10px;
  }

  .header__menu {
    padding-bottom: 20px;
    display: flex;
    margin-left: 3.07vw;
    width: 100%;
    max-width: 429px;
    flex-direction: column;
    justify-content: space-between;
  }

  .balance-page__panel {
    padding-left: 25px;
    padding-right: 25px;
  }

  .header-nav__list {
    flex-direction: column;
    align-items: center;
  }

  header {
    justify-content: space-between;
  }

  .list-links__wrapper {
    flex-direction: column;
    margin-bottom: 30px;
    align-items: flex-start;
    border-bottom: 1px solid #0047d0;
  }
  .links-trading {
    margin-left: 0px;
  }

  .header-link {
    margin-right: 0px;
  }

  .header-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 0px;
    background-color: #0b0d0f;
    animation: burgerAnimation 0.4s;
  }
}
.wrapper {
  flex-grow: 1;
  height: 80px;
}

.open {
  display: flex;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.panel-balance__coins {
  overflow: auto;
  width: 100%;
}

@media (max-width: 1000px) {
  .panel-balance__coins {
    display: block;
  }
}

@media (max-width: 655px) {
  .panel-balance {
    flex-direction: column;
    align-items: flex-start;
  }

  .transfer-to__title {
    margin-left: 0px;
  }

  .to-select {
    margin-right: 0px;
  }

  .spot-balance {
    padding-left: 0px;
    border-left: none;
    margin-top: 50px;
  }

  /* .transfer-modal {
    left: 68%;
    top: 30%;
  } */

  .from-select {
    width: 200px;
    margin-right: 0px;
  }

  .transfer-form {
    width: calc(100vw - 30vw);
    height: 700px;
  }

  .transfer-choose {
    flex-direction: column;
  }

  .to-select {
    width: 200px;
    margin-left: 0px;
  }

  .available-btc {
    width: 100%;
  }

  .transfer-button {
    padding: 12px 30px;
    text-align: center;
  }

  .bitcoin-form {
    width: calc(100vw - 30vw);
  }
}

@media (max-width: 500px) {
  .deposit-form {
    width: calc(100vw - 30vw);
    margin: 0 auto;
    padding: 40px 40px;
  }

  .deposit-img {
    padding-left: 0;
  }

  .select-coin {
    width: calc(100% - 32px);
  }

  .select-network {
    width: calc(100% - 32px);
  }

  .deposit-button {
    width: 100%;
  }

  .withdraw-form {
    width: calc(100vw - 30vw);
    margin: 0 auto;
  }

  .amount-input {
    width: calc(100% - 40px);
  }

  .withdraw-btc {
    margin-left: 0px;
    margin-right: 0px;
  }

  .available-balance {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
  }

  .bitcoin-form {
    width: calc(100vw - 30vw);
    height: 800px;
  }

  .input-address {
    width: 200px;
  }
}

@media (max-width: 1105px) {
}

@media (max-width: 800px) {
  tbody tr td {
    min-width: auto !important;
    padding-right: 20px;
  }
}
.logo-link-wrapper {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 20px;
}

.logo-link-wrapper:hover {
  opacity: 0.7;
}

.logo-link {
  align-items: center;
  display: flex;
}

.logo-link2 {
  width: 100%;
}

.menu-list__item svg,
.transaction svg,
.menu-list__two svg {
  transition: all 0.3s;
  fill: #32363a;
}

.menu-list__item:hover svg,
.transaction:hover svg,
.menu-list__two:hover svg {
  fill: #1b68fb;
}

.table-wrapper {
  display: flex;
  overflow: auto;
  /* justify-content: center; */
}

.table-coin {
  min-width: 280px;
}

.table-wallet {
  min-width: 274px;
}

.table-equ {
  min-width: 407px;
}

@media (max-width: 600px) {
  .balance-page__panel {
    width: calc(100% - 50px);
  }
}
