.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 55px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 34px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 57px; */
}
.header__logo h1 {
  position: relative;
  margin-left: 15px;

  font-size: 18px;
  font-weight: 700;
  font-family: 'Sora', Helvetica, sans-serif;
}

.header__logo h1::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #155dea;
  top: 16px;
  left: 98px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  margin-left: 178px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style-type: none;
}

.header-nav__list a {
  margin-right: 48px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s;
}

.header-nav__sign {
  margin-left: 66px;
  padding: 13px 23px;

  font-size: 14px;
  line-height: 22px;

  border: 1px solid #ffff;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.header-nav__sign:hover {
  color: #ffffff;
  border: 1px solid #246cf9;
}

.header-nav__start {
  margin-left: 16px;
  padding: 12px 24px;

  font-size: 14px;
  line-height: 22px;

  border-radius: 25px;
  border: 1px solid #246cf9;
  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%);
  transition: all 1s;
  cursor: pointer;
}

.header-nav__start:hover {
  color: #ffffff;
  background: transparent;
  border: 1px solid #246cf9;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  overflow: hidden;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #075af8;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #075af8;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 961px) {
  .header-nav__list li {
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger {
    display: flex;
    margin-right: 10px;
  }

  .header-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow: hidden;
    padding: 50px 0px;
    background-color: #0b0d0f;
    animation: burgerAnimation 0.4s;
  }

  .header-nav__list li a {
    text-align: center;
  }

  .header-nav ul {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 30px;
  }

  .header {
    align-items: center;
    justify-content: space-between;
  }

  .header-nav__sign {
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 70%;
    text-align: center;
  }

  .header-nav__start {
    width: 70%;
    margin-left: 0px;
    text-align: center;
  }

  .header-nav__list {
    margin-left: 0px;
  }

  .header-nav .open {
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-left: 20px;
  }
}

/* burger-styles */
.wrapper {
  flex-grow: 1;
}

.open {
  display: flex;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
320px-800
801-1000
1001-1200
1201 */

@media (max-width: 1150px) {
  .header-nav__list {
    margin-left: 20px;
  }
}
