body,
html {
  background-color: #0b0d0f;
  color: #ffff;
  font-family: 'San Francisco Pro Regular', Helvetica, sans-serif;
  font-style: normal;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  color: #ffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'San Francisco Pro Regular';
}

header {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1012;
}

.header {
  display: flex;
}

.header-nav__list {
  display: flex;
  width: 1920px;
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  list-style-type: none;
}

.list-links__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-links__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.logo-title {
  margin-left: 13px;
  font-family: 'Manrope Regular';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.logo-title span {
  color: #145dea;
}

.links-trading {
  margin-left: 113px;
}

@media (max-width: 1919px) {
  .header-nav__list {
    max-width: calc(100vw - 10vw - 30px);
  }
  .balance-page__panels {
    max-width: calc(100vw - 10vw - 30px);
  }
}

.header-link {
  margin-right: 50px;
  font-family: 'Manrope Regular';
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  transition: all 0.3s;
  color: #32363a;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.header-link:hover {
  color: #ffffff;
}

.list-links__wallet {
  padding: 12px 24px;
  margin-right: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Sofia Pro Regular';
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  transition: all 0.3s;
}

.list-links__wallet:hover {
  border: 1px solid #145dea;
  color: #145dea;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.balance-page__panels {
  display: flex;
  width: 1920px;
}

.menu-link--active {
  color: #ffff;
  margin-left: 10px;
}

.burger {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #075af8;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #075af8;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 1020px) {
  .burger {
    display: flex;
    margin-right: 10px;
  }

  .list-links__user {
    margin-right: 0px;
  }

  .header-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 0px;
    background-color: #0b0d0f;
    animation: burgerAnimation 0.4s;
  }

  .header-nav__list li a {
    text-align: center;
  }

  .header-nav ul {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 30px;
  }
  .list-links__wrapper {
    width: 100%;
    align-items: flex-start;
    padding-left: 20px;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .list-links__wrapper {
    justify-content: center;
  }

  .header-link {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* burger-styles */
.wrapper {
  flex-grow: 1;
  height: 80px;
}

.open {
  display: flex;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* clear */
/* clear */
/* clear */
/* clear */

.routing {
  width: 910px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-right: 22vw;
  padding-left: 22vw;
  margin-bottom: 80px;

  border-bottom: 1px solid #13171b;
}

.routing-current {
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 19px;

  color: #ffffff;
}

.routing-current__path {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.routing-current__path svg {
  margin-left: 12px;
  margin-right: 12px;
}

.routing-current__path p {
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.last-page {
  color: #32363a;
}

.menu-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  transition: all 0.3s;
}

.menu-list__item:hover a {
  color: #ffffff;
}

.menu-list__item:hover svg {
  stroke: #075af8;
}

.menu-list__item:hover svg path {
  stroke: #075af8;
}

.menu-list__item a {
  margin-left: 12px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.profile {
  color: #ffffff;
}

.item-link {
  color: #32363a;
}

.session {
  border-top: 1px solid #13171b;
  padding-top: 30px;
}

.main-page {
  width: 100%;

  margin: 0;
  padding: 0;
}

.main-page__panels {
  display: flex;
  flex-direction: row;
  max-width: 901px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.main-page__panel {
  width: 100%;
}

.kyc-user__info {
  padding: 42px 42px;

  display: flex;
  flex-direction: column;

  background: linear-gradient(0deg, #0e1012, #0e1012), #d9d9d9;
  border-radius: 25px;

  margin: 0;
  width: calc(100% - 84px - 50px);
  margin-left: 50px;
}

.kyc-title {
  margin-bottom: 45px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 19px;

  color: #ffffff;
}

.first-name {
  margin-bottom: 25px;
  display: flex;
}

.first-name__left {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
}

.first-name__right {
  display: flex;
  flex-direction: column;
}

.first-name__label {
  margin-bottom: 13px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.middle-name {
  margin-bottom: 13px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.first-name__input {
  width: 280px;
  padding: 11px 20px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;

  background-color: #0e1012;
  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  transition: all 0.3s;
}

.first-name__input:focus {
  border: 1px solid #075af8;
}

.middle-name__input {
  width: 280px;
  padding: 11px 20px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;

  background-color: #0e1012;
  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  transition: all 0.3s;
}

.middle-name__input:focus {
  border: 1px solid #075af8;
}

.last-name {
  display: flex;
  margin-bottom: 25px;
}

.last-name__left {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
}

.last-name__right {
  display: flex;
  flex-direction: column;
}

.last-name__label {
  margin-bottom: 13px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.last-name__right label {
  margin-bottom: 13px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.last-name__input {
  width: 280px;
  padding: 11px 20px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;

  background-color: #0e1012;
  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  transition: all 0.3s;
}

.last-name__input:focus {
  border: 1px solid #075af8;
}

.birth-input {
  width: 280px;
  padding: 11px 20px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;

  background-color: #0e1012;
  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  transition: all 0.3s;
}

.birth-input:focus {
  border: 1px solid #075af8;
}

.res-address {
  margin-bottom: 13px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.res-input {
  margin-bottom: 25px;
  padding: 11px 20px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;

  background-color: #0e1012;
  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  transition: all 0.3s;
}

.res-input:focus {
  border: 1px solid #075af8;
}

.post-block {
  display: flex;
  margin-bottom: 25px;
}

.post-left {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
}

.post-right {
  display: flex;
  flex-direction: column;
}

.post-code {
  margin-bottom: 13px;
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.city-block {
  margin-bottom: 13px;
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.city-input {
  width: 280px;
  padding: 11px 20px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;

  background-color: #0e1012;
  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  transition: all 0.3s;
}

.city-input:focus {
  border: 1px solid #075af8;
}

.post-code__input {
  width: 280px;
  padding: 11px 20px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;

  background-color: #0e1012;
  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  transition: all 0.3s;
}

.post-code__input:focus {
  border: 1px solid #075af8;
}

.country-label {
  margin-bottom: 13px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.country-input {
  padding: 11px 20px;
  margin-bottom: 25px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;

  background-color: #0e1012;
  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  transition: all 0.3s;
}

.country-input:focus {
  border: 1px solid #075af8;
}

.save-button {
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;

  font-family: 'Sofia Pro Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;

  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%),
    linear-gradient(265.56deg, #246cf9 -0.27%, #1e68f6 -0.26%, #0047d0 98.59%);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.save-button:hover {
  opacity: 0.7;
}

.visually-hidden {
  display: none;
}

@media (max-width: 970px) {
  .first-name__left {
    margin-right: 0;
  }
  .routing {
    width: calc(100% - 15% - 20px);
    margin-bottom: 20px;
  }

  .first-name {
    flex-direction: column;
  }

  .first-name__input {
    margin-bottom: 15px;
  }

  .last-name {
    flex-direction: column;
  }

  .kyc-user__info {
    padding: 22px 22px;
    width: calc(100% - 44px - 50px);
  }

  .main-page {
    width: calc(100% - 15% - 20px);
  }

  .routing.routing {
    padding-left: 0;
    padding-right: 0;
  }

  .main-page__panel {
    margin-left: 0px;
  }

  .post-block {
    flex-direction: column;
  }

  .last-name__right label {
    margin-top: 13px;
  }

  .city-block {
    margin-top: 13px;
  }

  .first-name__input {
    width: calc(100% - 40px);
  }

  .middle-name__input {
    width: calc(100% - 40px);
  }

  .last-name__input {
    width: calc(100% - 40px);
  }

  .last-name__left {
    margin-right: 0px;
  }

  .birth-input {
    width: calc(100% - 40px);
  }

  .post-code__input {
    width: calc(100% - 40px);
  }

  .post-left {
    margin-right: 0px;
  }

  .city-input {
    width: calc(100% - 40px);
  }
}

.document-type__form {
  background-color: #121518;
  width: 482px;
  border-radius: 25px;
  padding: 42px 42px;
}

.document-modal {
  overflow: auto;
  max-height: 100vh;
  display: none;
}
.document-type__label {
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 19px;

  color: #ffffff;
}

.chosen-doc__type {
  margin-bottom: 20px;
  padding: 13px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #22282f;
  border-radius: 22.5px;
  cursor: pointer;
  transition: all 0.3s;
}

.document-fullname {
  margin-left: 10px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.document-name {
  display: flex;
}

.chosen-doc__type:hover {
  background-color: #075af8;
  border: 1px solid #075af8;
}

.chosen-doc__type:hover .checked-svg path {
  fill: white;
}

.document-all__types {
  margin-top: 55px;
  margin-bottom: 55px;
}

.continue-button {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;

  font-family: 'Sofia Pro Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;

  text-align: center;
  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%),
    linear-gradient(265.56deg, #246cf9 -0.27%, #1e68f6 -0.26%, #0047d0 98.59%);
  border-radius: 100px;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.continue-button:hover {
  opacity: 0.7;
}

@media (max-width: 680px) {
  .document-type__form {
    width: calc(100% - 10% - 20px);
  }
}

.photo-modal {
  max-height: 100vh;
  display: none;
  overflow: auto;
}

.photo-type__form {
  margin: 0 auto;
  background-color: #121518;
  width: calc(100% - 84px);
  border-radius: 25px;
  padding: 42px 42px;
}

.photo-verif__label {
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 19px;

  color: #ffffff;
}

.photo-verif__info {
  margin-top: 21px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.photo-type__list {
  margin-top: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.photo-type__list li {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-info {
  margin-top: 8px;
}

.cut {
  position: relative;
}

.cut::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 19px;
  bottom: 28px;
  background: url('/img/cancel.svg');
}

.cut-text {
  margin-top: 18px;
}

.photo-condition__list {
  margin-top: 33px;
}

.condition-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 23px;
}

.condition-list__item p {
  margin-left: 13px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.photo-file__size {
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.photo-file__size span {
  color: #246cf9;
}

.photo-upload__button {
  padding-top: 23px;
  padding-bottom: 23px;
  margin-top: 34px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 32.5px;
  transition: all 0.3s;
  cursor: pointer;
}

.photo-upload__button:hover {
  opacity: 0.7;
}

.photo-upload__button p {
  margin-left: 10px;
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.continue-button {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 20px;

  font-family: 'Sofia Pro Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;

  text-align: center;
  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%),
    linear-gradient(265.56deg, #246cf9 -0.27%, #1e68f6 -0.26%, #0047d0 98.59%);
  border-radius: 100px;
}

@media (max-width: 630px) {
  .photo-type__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .list-first__item {
    grid-area: 1 / 1 / 2 / 2;
  }
  .list-second__item {
    grid-area: 1 / 2 / 2 / 3;
  }
  .list-third__item {
    grid-area: 2 / 1 / 3 / 2;
  }
  .list-four__item {
    grid-area: 2 / 2 / 3 / 3;
  }

  .photo-type__form {
    width: calc(100vw - 30vw - 20px);
  }

  .condition-list__item p {
    font-size: 14px;
  }
}

@media (max-width: 440px) {
  .condition-list__item p {
    font-size: 14px;
  }
}

.submit-modal__wrapper {
  position: absolute;
  width: 100vw;
  height: 250vh;
  background: rgba(11, 13, 15, 0.7);
  backdrop-filter: blur(5px);
  overflow-x: hidden;
}

.submit-modal {
  max-height: 100vh;
  overflow: auto;
  display: none;
}

.submit-type__form {
  background-color: #121518;
  width: 482px;
  border-radius: 25px;
  padding: 42px 42px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.submit-applicate {
  margin-top: 55px;

  font-family: 'San Francisco Pro Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
}

.submit-description {
  margin-top: 20px;
  width: 384px;

  font-family: 'San Francisco Pro Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #3c4043;
}

.processing-time {
  margin-top: 17px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
}

.processing-time span {
  color: #2471eb;
}

.contact {
  text-align: center;
  margin-top: 50px;

  font-family: 'San Francisco Pro Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #3c4043;
}

.contact a {
  color: #3c4043;
  border-bottom: 1px solid #3c4043;
  transition: all 0.3s;
}

.contact a:hover {
  color: #2471eb;
  border-bottom: 1px solid #2471eb;
}

.continue-button-three {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 25px;
  width: 100%;

  font-family: 'Sofia Pro Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;

  text-align: center;
  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%),
    linear-gradient(265.56deg, #246cf9 -0.27%, #1e68f6 -0.26%, #0047d0 98.59%);
  border-radius: 100px;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.continue-button-three:hover {
  opacity: 0.7;
}

@media (max-width: 650px) {
  .submit-type__form {
    width: calc(100vw - 30vw - 20px);
  }

  .submit-description {
    width: calc(100vw - 55vw);
  }

  .submit-applicate {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .routing-current {
    font-size: 16px;
  }

  .kyc-user__info {
    width: calc(100% - 44px);
    margin: 0;
  }

  .main-page__panels {
    justify-content: center;
  }

  .kyc-title {
    margin-bottom: 30px;
    font-size: 17px;
  }
}

.condition-list__item svg {
  min-width: 27px;
  min-height: 27px;
}

@media (max-width: 500px) {
  .document-type__form {
    width: calc(100% - 10% - 84px);
    margin: 0 auto;
    padding: 32px 32px;
  }

  .photo-upload__button {
    margin-bottom: 15px;
  }

  .continue-button {
    margin-top: 0px;
  }

  .document-all__types {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .document-type__label {
    font-size: 18px;
  }
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cross-close {
  transition: all 0.3s;
  cursor: pointer;

  /* position: absolute;
  top: -15px;
  right: -15px; */
}

.cross-close:hover {
  opacity: 0.7;
}

.form-submit__close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 400px) {
  .kyc-user__info {
  }
}

.item-link {
  white-space: nowrap;
}

@media (max-width: 500px) {
  .document-type__form {
    width: calc(100vw - 20vw - 20px);
    margin: 0 auto;
    padding: 22px 22px;
  }

  .photo-type__form {
    width: calc(100vw - 20vw - 20px);
    margin: 0 auto;
    padding: 22px 22px;
  }

  .submit-type__form {
    width: calc(100vw - 20vw - 20px);
    margin: 0 auto;
    padding: 22px 22px;
  }
}

.face-verif__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 33px;
}

.photo-condition__list-two {
  margin-top: 0px;
}

.face-verif__right {
  margin-left: 20px;
}

.verif-username {
  font-family: 'Manrope Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #9ea9bf;
}

@media (max-width: 500px) {
  .face-verif__block {
    flex-direction: column;
  }

  .face-verif__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .verif-username {
    margin-top: 10px;
  }
}
