body,
html {
  background-color: #0b0d0f;
  color: #ffff;
  font-family: 'San Francisco Pro', Helvetica, sans-serif;
  font-style: normal;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  color: #ffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'San Francisco Pro', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1012;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.header {
  display: flex;
}

.header-nav__list {
  display: flex;
  width: 1920px;
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  list-style-type: none;
}

.list-links__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-links__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.logo-title {
  margin-left: 13px;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.logo-title span {
  color: #145dea;
}

.links-trading {
  margin-left: 113px;
}

@media (max-width: 1919px) {
  .header-nav__list {
    max-width: calc(100vw - 10vw - 30px);
  }
  .balance-page__panels {
    max-width: calc(100vw - 10vw - 30px);
  }
}

.header-link {
  margin-right: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  transition: all 0.3s;
  color: #32363a;
}

.header-link:hover {
  color: #ffffff;
}

.list-links__wallet {
  padding: 12px 24px;
  margin-right: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  transition: all 0.3s;
}

.list-links__wallet:hover {
  border: 1px solid #145dea;
  color: #145dea;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.balance-page__panels {
  display: flex;
  width: 1920px;
}

.menu-link--active {
  color: #ffff;
  margin-left: 10px;
}

.burger {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #075af8;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #075af8;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 1020px) {
  .burger {
    display: flex;
    margin-right: 10px;
  }

  .list-links__user {
    margin-right: 0px;
  }

  .header-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 0px;
    background-color: #0b0d0f;
    animation: burgerAnimation 0.4s;
  }

  .header-nav__list li a {
    text-align: center;
  }

  .header-nav ul {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 30px;
  }

  .list-links__wrapper {
    width: 100%;
    align-items: flex-start;
    padding-left: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 0 auto;
  }

  .header-link {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* burger-styles */
.wrapper {
  flex-grow: 1;
  height: 80px;
}

.open {
  display: flex;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.routing {
  width: 910px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-right: 22vw;
  padding-left: 22vw;
  margin-bottom: 80px;

  border-bottom: 1px solid #13171b;
}

.routing-current {
  white-space: nowrap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 19px;

  color: #ffffff;
}

.routing-current__path {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.routing-current__path svg {
  margin-left: 12px;
  margin-right: 12px;
}

.routing-current__path p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.last-page {
  color: #32363a;
  cursor: pointer;
  transition: all 0.3s;
}

.last-page:hover {
  color: #ffffff;
}

.menu-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  transition: all 0.3s;
}

.menu-list__item:hover a {
  color: #ffffff;
}

.menu-list__item:hover svg {
  stroke: #075af8;
}

.menu-list__item:hover svg path {
  stroke: #075af8;
}

.menu-list__item a {
  margin-left: 12px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.profile {
  color: #ffffff;
}

.menu-list__item svg path {
  transition: all 0.3s;
}

.item-link {
  white-space: nowrap;
  color: #32363a;
  transition: all 0.3s;
}
.main-page {
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-page__panels {
  display: flex;
  flex-direction: row;
  max-width: 901px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.session {
  border-top: 1px solid #13171b;
  padding-top: 30px;
}

.main-page__panel {
  width: 100%;
}

.panel-user__info {
  padding: 42px 42px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #0e1012, #0e1012), #d9d9d9;
  border-radius: 25px;
  margin: 0;
  width: calc(100% - 84px - 50px);
  margin-left: 50px;
}

.user-status {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-block {
  margin-bottom: 45px;
}

.info-username__id {
  margin-bottom: 16px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 19px;

  color: #ffffff;
}

.info-username__mail {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #32363a;
}

.info-verif__status {
  padding: 6px 12px;
  height: 16px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;

  color: #ffffff;
  border: 1px solid #ff6363;
  border-radius: 25px;
}

.name-label {
  margin-bottom: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.name-input {
  padding: 13px 20px;
  margin-bottom: 45px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
  border: 1px solid #22282f;
  outline: none;
  background-color: #0e1012;
  border-radius: 22px;
  transition: all 0.3s;
}

.name-input__pass {
  padding: 13px 20px;
  margin-bottom: 25px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
  border: 1px solid #22282f;
  outline: none;
  background-color: #0e1012;
  border-radius: 22px;
  transition: all 0.3s;
}

.name-input__pass:focus {
  border: 1px solid #075af8;
}

.name-input:focus {
  border: 1px solid #075af8;
}

.name-input::placeholder {
  color: #22282f;
}

.new-password {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  width: 100%;
}

.new-password__left {
}

.new-password__right {
  margin-left: 18px;
}

.new-password__left label {
  margin-bottom: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.new-password__right label {
  margin-bottom: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.input-new__pass {
  padding: 13px 20px;
  width: calc(100% - 43px);
  margin-top: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;

  border-radius: 22px;
  outline: none;
  border: 1px solid #22282f;
  background-color: #0e1012;
  transition: all 0.3s;
}

.input-new__pass:focus {
  border: 1px solid #075af8;
}

.input-confirm__pass {
  padding: 13px 20px;
  width: calc(100% - 42px);
  margin-top: 13px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;

  border-radius: 22px;
  outline: none;
  border: 1px solid #22282f;
  background-color: #0e1012;
  transition: all 0.3s;
}

.input-confirm__pass:focus {
  border: 1px solid #075af8;
}

.save-changes {
  padding-top: 11px;
  padding-bottom: 11px;

  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #ffffff;
  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%),
    linear-gradient(265.56deg, #246cf9 -0.27%, #1e68f6 -0.26%, #0047d0 98.59%);
  border-radius: 100px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.save-changes:hover {
  opacity: 0.7;
}

@media (max-width: 970px) {
  .main-page__panel {
    margin-left: 0px;
  }

  .panel-user__info {
    padding: 22px 22px;
    width: calc(100% - 44px - 50px);
  }

  .main-page {
    width: calc(100% - 15% - 20px);
  }

  .name-input__pass {
    margin-bottom: 15px;
  }

  .name-input {
    margin-bottom: 15px;
  }

  .new-password {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .new-password__right {
    margin-top: 15px;
    margin-left: 0px;
  }

  .new-password__right label {
    margin-top: 20px;
  }

  .routing {
    width: calc(100% - 15% - 20px);
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .name-input {
    margin-bottom: 15px;
  }
}

@media (max-width: 580px) {
  /* .input-new__pass {
    width: calc(100% - 10%);
  }

  .input-confirm__pass {
    width: calc(100% - 10%);
  } */

  .routing-current {
    font-size: 16px;
  }
}

@media (max-width: 490px) {
  .info-verif__status {
    text-align: center;
    margin-bottom: 15px;
  }

  .info-block {
    margin-bottom: 25px;
  }

  .info-username__mail {
    font-size: 10px;
  }

  .info-username__id {
    font-size: 18px;
  }
}

.mobile-dop_menu {
  background: #1a1b1d;
  width: 40px;
  height: 40px;
  z-index: 1;
  position: fixed;
  border-radius: 0px 5px 5px 0;
  cursor: pointer;
  left: 0;
  top: 100px;
  display: none;
  transition: all 0.4s;
}

.mobile-dop_menu svg {
  padding-left: 16px;
  padding-top: 16px;
}

.main-page__menu.activ ~ .mobile-dop_menu {
  left: calc(50% + 1px);
}

@media (max-width: 600px) {
  .main-page__menu {
    min-width: 200px;
    position: fixed;
    transform: translateX(-150vw);
    z-index: 37;
    background: #0b0d0f94;
    left: 0;
    padding: 0;
    width: 100%;

    transition: all 0.4s;
  }

  .mobile-dop_menu {
    display: block;
  }

  .main-page__menu {
    margin-top: -2px;
  }

  .menu-list__item {
    margin: 15px 0;
    padding-left: 10px;
  }

  .main-page__menu.activ {
    transform: translateX(0);
  }

  header {
    width: 100%;
    position: fixed;
    z-index: 111;
  }

  .menu-list {
    position: relative;
    bottom: 117px;
    padding-top: 0;
    margin-left: 0px;
    display: flex;
    height: calc(100vh - 97px);
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #13171b;
    width: 50%;
    background: #0b0d0f;
    padding-bottom: 20px;
    overflow: auto;
  }

  .panel-user__info {
    width: calc(100% - 44px);
    margin: 0;
  }
}
