body {
  background-color: #0b0d0f;
  color: #ffff;
  margin: auto;
  padding: 0;
}

a {
  color: #ffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Sofia Pro', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
}

.sign-page {
  background-image: url('/img/sign-bg.png');
  background-size: contain;
  background-position-x: 70px;
  background-position-y: 20px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.sign-page__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 172px;
}

.sign-page__left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 480px;
}

.left-title {
  margin-left: 45px;
  position: relative;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 76px;

  color: #ffffff;
}
.left-title::after {
  content: '';
  position: absolute;
  width: 824px;
  height: 644px;
  left: -511px;
  top: -371px;

  background: radial-gradient(
    40.45% 40.45% at 50% 46.16%,
    rgba(1, 9, 80, 0.62) 3.12%,
    rgba(14, 17, 32, 0) 100%
  );
  filter: blur(39px);
}

.left-title span {
  color: #145dea;
}

.sign-page__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

  color: #ffffff;
}

.right-descrtiption {
  margin-top: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #32363a;
}

.right-mail {
  width: 440px;
  padding: 15px 15px;
  margin-top: 40px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  border-radius: 10px;
  background-color: #121518;
  border: 1px solid #22282f;
  outline: none;
  color: #ffffff;
}

.right-mail:focus {
  border: 1px solid #246cf9;
}

.right-password {
  width: 440px;
  padding: 15px 15px;
  margin-top: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  border-radius: 10px;
  background-color: #121518;
  border: 1px solid #22282f;
  outline: none;
  color: #ffffff;
}

.right-password:focus {
  border: 1px solid #246cf9;
}

.right-password__confirm {
  width: 440px;
  padding: 15px 15px;
  margin-top: 20px;
  margin-bottom: 40px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  border-radius: 10px;
  background-color: #121518;
  border: 1px solid #22282f;
  outline: none;
  color: #ffffff;
}

.right-password__confirm:focus {
  border: 1px solid #246cf9;
}

.right-button__confirm {
  padding: 15px 204px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  border: none;
  background: linear-gradient(265.56deg, #246cf9 -0.27%, #1e68f6 -0.26%, #0047d0 98.59%), #8265ff;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}

.right-button__confirm:hover {
  opacity: 0.8;
}

.right-account {
  margin-top: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #32363a;
}

.right-account a {
  color: #145dea;
  transition: all 0.3s;
}

.right-account a:hover {
  color: #ffffff;
}

@media (max-width: 1451px) {
  .sign-page__left {
    margin-right: 100px;
  }
}

@media (max-width: 1070px) {
  .sign-page__left {
    margin-right: 0px;
    margin-bottom: 60px;
  }
  .sign-page__wrapper {
    margin-top: 102px;
    flex-direction: column;
  }

  .right-account {
    margin-bottom: 40px;
  }
}

@media (max-width: 680px) {
  .sign-page__left svg {
    max-width: 70px;
    margin-left: 100px;
  }

  .left-title {
    font-size: 36px;
  }

  .sign-page__right {
    max-width: calc(100vw - 30vw -30px);
  }

  main {
    max-width: 100%;
  }

  .sign-page__right {
    margin-left: 70px;
  }

  .right-mail {
    width: 70%;
  }

  .right-password {
    width: 70%;
  }

  .right-password__confirm {
    width: 70%;
  }

  .sign-page__right {
    margin-left: 100px;
  }

  .right-button__confirm {
    padding: 15px 105px;
  }

  .right-title {
    width: 200px;
    text-align: center;
  }
}
