.deposit-modal,
.transfer-modal,
.bitcoin-deposit__modal {
  height: 100vh;
  overflow: auto;
}

.transfer-form {
  display: block;
  padding: 42px 42px;
  flex-direction: column;
  width: 845px;
  height: 554px;
  background-color: #121518;
  border-radius: 25px;
  /* margin: 0 auto; */
}

.form-header__transfer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  position: relative;
}

.transfer-title {
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 19px;
  /* or 19px */

  color: #ffffff;
}

.cross-close {
  transition: all 0.3s;
  cursor: pointer;

  position: absolute;
  top: -15px;
  right: -15px;
}

.cross-close:hover {
  opacity: 0.7;
}

.transfer-coin__label {
  margin-bottom: 13px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.select-coin__block {
  position: relative;
  z-index: 999999;
}

.select-coin {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 24px;
  margin-bottom: 25px;
  height: 45px;

  color: #ffffff;

  outline: none;
  border: 1px solid #22282f;
  border-radius: 22.5px;
  background-color: #121518;
}

.select-coin img {
  width: 33px;
  height: 33px;
  margin: 0 8px;
}

.select-coin p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.select-coin span {
  margin-left: 5px;
  margin-right: auto;
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #32363a;
}

.select-coin svg,
.select-network svg {
  min-width: 7px;
  height: 5px;
}

.coin-select__list {
  position: absolute;
  padding-bottom: 18px;
  z-index: -1;
  top: 10px;
  width: 100%;
  border: 1px solid #22282f;
  border-radius: 25px;
  background-color: #121518;
}

.select-list__item {
  transition: all 0.4s;
  cursor: pointer;
}

.select-list__item:hover {
  background-color: #1b1f22;
  border-right: 1px solid #0047d0;
}

.select-list__item:hover .сhoose-coin {
  background-color: #1b1f22;
}

.сhoose-coin span {
  margin-left: 8px;

  font-family: 'San Francisco Pro Light';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  color: #32363a;
}

.сhoose-coin {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 24px;
  height: 45px;

  color: #ffffff;
  transition: all 0.3s;
  outline: none;
  border-radius: 22.5px;
  background-color: #121518;
}

.choose-coin__photo {
  width: 20px;
  height: 20px;
  margin: 0 8px;
}

.transfer-choose {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-evenly;
  /* justify-content: space-between; */
}

.transfer-from__title {
  margin-bottom: 13px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.from-select {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 21px;
  width: 368px;
  height: 29px;

  border: 1px solid #22282f;
  border-radius: 22.5px;
}

.from-select p {
  margin-right: 280px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.transfer-svg {
  cursor: pointer;
  margin-top: 35px;
}

.transfer-svg path {
  transition: all 0.3s;
}

.transfer-svg:hover path {
  fill: #0047d0;
}

.transfer-to__title {
  margin-bottom: 13px;
  margin-left: 21px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.to-select {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 21px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 368px;
  height: 29px;

  border: 1px solid #22282f;
  border-radius: 22.5px;
}

.to-select p {
  margin-right: 280px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.transfer-coin__label {
  margin-bottom: 13px;

  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.available-btc {
  width: calc(100% - 6px);
  margin-top: 13px;
  display: flex;
  align-items: center;
  height: 33px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 30px;

  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%), #2471eb;
  border-radius: 22.5px;
}

.available-btc img {
  margin-right: 10px;
}

.available-btc p {
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;
}

.available-btc span {
  margin-left: 5px;
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #8bb8ff;
}

.amount-transfer {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 13px;
}

.amount-transfer__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 33px;
  padding-left: 15px;
  width: 100%;
  padding-bottom: 6px;
  padding-right: 110px;
  margin-bottom: 30px;
  padding-top: 6px;
  border: 1px solid #22282f;
  background-color: #121518;
  border-radius: 22.5px;
  font-family: 'Manrope Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  outline: none;
  color: #ffffff;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.amount-transfer__input:focus {
  border: 1px solid #0047d0;
}

.amount-transfer__input::placeholder {
  color: #22282f;
}

.max-amount {
  padding: 5px 7px;
  position: absolute;
  right: 5px;

  bottom: 38px;

  border: 1px solid #2471eb;
  border-radius: 22.5px;
  cursor: pointer;
  transition: all 0.3s;
}

.max-amount:hover {
  opacity: 0.7;
}

.transfer-button {
  padding: 11px 374px;

  background: linear-gradient(265.56deg, #246cf9 -0.27%, #3177ff -0.26%, #075af8 98.59%),
    linear-gradient(265.56deg, #246cf9 -0.27%, #1e68f6 -0.26%, #0047d0 98.59%);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
}

.transfer-button:hover {
  opacity: 0.7;
}

@media (max-width: 500px) {
  .deposit-form {
    width: calc(100vw - 30vw);
    margin: 0 auto;
    padding: 40px 40px;
  }

  .deposit-img {
    padding-left: 0;
  }

  .select-coin {
    width: calc(100% - 32px);
  }

  .deposit-button {
    width: 100%;
  }

  .withdraw-form {
    width: calc(100vw - 30vw);
    margin: 0 auto;
  }

  .amount-input {
    width: calc(100% - 40px);
  }

  .withdraw-btc {
    margin-left: 0px;
    margin-right: 0px;
  }

  .available-balance {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
  }

  .bitcoin-form {
    width: calc(100vw - 30vw);
  }
}

@media (max-width: 855px) {
  .panel-balance {
    flex-direction: column;
    align-items: flex-start;
  }

  .transfer-to__title {
    margin-left: 0px;
  }

  .to-select {
    margin-right: 0px;
  }

  .spot-balance {
    padding-left: 0px;
    border-left: none;
    margin-top: 50px;
  }

  /* .transfer-modal {
    left: 68%;
    top: 30%;
  } */

  .from-select {
    width: 200px;
    margin-right: 0px;
  }

  .transfer-form {
    width: calc(100vw - 30vw);
    height: 700px;
  }

  .transfer-choose {
    flex-direction: column;
  }

  .to-select {
    width: 200px;
    margin-left: 0px;
  }

  .available-btc {
    width: calc(100% - 6px);
  }

  .transfer-button {
    padding: 12px 30px;
    text-align: center;
  }

  .bitcoin-form {
    width: calc(100vw - 30vw);
  }
}
