body,
html {
  background-color: #0b0d0f;
  color: #ffff;
  font-family: 'Manrope', Helvetica, sans-serif;
  font-style: normal;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: #ffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* clear */
/* clear */
/* clear */

.users-info {
  padding: 25px 30px;
  min-width: 90%;
  overflow: auto;

  background-color: #0e1012;
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .panel-header {
    width: 68%;
  }
}

.users-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.users-title svg {
  transition: all 0.3s;
  cursor: pointer;
}

.users-title svg:hover {
  opacity: 0.7;
}

.users-table {
  display: flex;
  flex-direction: column;
}

.table-columns {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.table-columns li {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #3c4043;
}

.item {
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
}

.item li {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;

  color: #ffffff;
}

.users-table .table-item:nth-child(even) {
  background-color: #131618;
}

.country-flag {
  margin-right: 10px;
}

@media (max-width: 877px) {
  .prev-route {
    font-size: 12px;
  }

  .current-route {
    font-size: 12px;
  }

  .worker-profile {
    font-size: 12px;
  }

  .logout-button {
    font-size: 12px;
  }

  .panel-header {
    width: 50%;
    flex-direction: column;
  }

  .header-left {
    margin-bottom: 10px;
  }
}

@media (max-width: 405px) {
  .header-right {
    flex-direction: column;
  }

  .worker-header__select {
    margin-top: 10px;
  }

  .logout-button {
    margin-left: 10px;
  }
}

.mail {
  min-width: 263px;
}

.country {
  min-width: 184px;
}

.ip {
  min-width: 97px;
}

.promo-code {
  min-width: 226px;
}

.domain {
  min-width: 187px;
}

/* сдыфв */

@media (max-width: 1470px) {
  .mail,
  .country,
  .promo-code,
  .domain {
    min-width: calc(283px - 100px);
    margin-right: 10px;
  }
}

@media (max-width: 1290px) {
  .users-info {
    max-width: 100%;
    overflow: auto;
  }
}
