body,
html {
  background-color: #0b0d0f;
  color: #ffff;
  font-family: 'Manrope', Helvetica, sans-serif;
  font-style: normal;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: #ffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* clear */
/* clear */
/* clear */

.users-info {
  padding: 25px 30px;
  width: calc(100vw - 30vw - 60px);
  overflow: auto;

  background-color: #0e1012;
  border-radius: 10px;
}

@media (max-width: 840px) {
  .users-info {
    margin: 0 auto;
  }
}

.users-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.users-title svg {
  transition: all 0.3s;
  cursor: pointer;
}

.users-title svg:hover {
  opacity: 0.7;
}

.users-table {
  display: flex;
  flex-direction: column;
}

.table-columns {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.table-columns li {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #3c4043;
}

.item {
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
}

.item li {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;

  color: #ffffff;
}

.country-flag {
  margin-right: 10px;
}

.mail {
  min-width: 263px;
}

.country {
  min-width: 184px;
}

.ip {
  min-width: 97px;
}

.promo-code {
  min-width: 226px;
}

.domain {
  min-width: 187px;
}

table tr th {
  text-align: left;

  font-family: 'Manrope Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #3c4043;
}

table tr td {
  white-space: nowrap;
}

@media (max-width: 460px) {
  .users-info {
    padding: 20px 25px;
  }
}
