body,
html {
  background-color: #0b0d0f;
  color: #ffff;
  font-family: 'Manrope', Helvetica, sans-serif;
  font-style: normal;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: #ffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* clear */
/* clear */
/* clear */

.promo-form {
  padding: 25px 30px;
  width: calc(100% - 60px);
  background-color: #0e1012;
  border-radius: 10px;
}

.wrapper_table {
  width: 100%;
  position: relative;
  overflow: auto;
}

.promo-title {
  margin-bottom: 24px;
}

.promo-blocks {
  display: flex;
}

.promo-left {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: 20px;
  position: relative;
}

.random-promo {
  padding: 12px 19px;
  position: absolute;
  right: 0px;

  font-family: 'San Francisco Pro Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 92.5%;
  color: #ffffff;

  border: none;
  background: linear-gradient(117.67deg, #3077ff 17.49%, #085bf8 105.01%);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.random-promo:hover {
  opacity: 0.7;
}

.promo-input {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 90px;
  margin-bottom: 15px;
  width: calc(100% - 100px);
  font-family: 'Manrope Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  outline: none;

  background-color: #0e1012;
  border: 1px solid #1b1d1f;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s;
}

.promo-input::placeholder {
  color: #3c4043;
}

.promo-input:focus {
  border: 1px solid #085bf8;
}

.promo-input__two {
  padding: 10px;
  margin-bottom: 15px;

  font-family: 'Manrope Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  outline: none;

  background-color: #0e1012;
  border: 1px solid #1b1d1f;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s;
}

.promo-input__two::placeholder {
  color: #3c4043;
}

.promo-input__two:focus {
  border: 1px solid #085bf8;
}

.promo-right {
  width: 100%;
}

.promo-text {
  padding: 10px;
  margin-bottom: 15px;
  width: calc(100% - 20px);
  height: 85%;

  font-family: 'Manrope Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  outline: none;
  resize: none;
  background-color: #0e1012;
  border: 1px solid #1b1d1f;
  border-radius: 5px;
  color: #ffffff;
}

.promo-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 14px;
  justify-content: space-between;

  border: 1px solid #1b1d1f;
  border-radius: 5px;
  cursor: pointer;
}

.select-left {
  display: flex;
  align-items: center;
}

.select-coin__name {
  margin-left: 8px;
  font-family: 'Manrope Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 157%;

  color: #ffffff;
}

.select-coin__fullname {
  margin-left: 8px;
  font-family: 'Manrope Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 157%;

  color: #6a737b;
}

.promo-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.create-promo {
  padding: 12px 19px;

  font-family: 'San Francisco Pro Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
  border: none;

  color: #747e8a;
  background: #3c4043;
  border-radius: 5px;
  cursor: not-allowed;
}

.promo-withdraw__block {
  display: flex;
  align-items: center;
}

.promo-withdraw__block p {
  margin-left: 8px;

  font-family: 'Manrope Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 157%;

  color: #ffffff;
}

.promocodes-table {
  margin-top: 30px;
  padding: 25px 30px;
  width: calc(100% - 60px);
  /* overflow: auto; */
  display: grid;
  background-color: #0e1012;
  border-radius: 10px;
}

.table-title {
  margin-bottom: 30px;

  font-family: 'Manrope Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.column-item {
  font-family: 'Manrope Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #3c4043;
}

.table-columns {
  margin-bottom: 30px;
}

.table-item {
  /* justify-content: space-between; */
}

.table-item li {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;
  color: #ffffff;
}

.delete {
  margin-left: 30px;
  transition: all 0.3s;
  cursor: pointer;
  margin-right: 10px;
}

.delete:hover {
  opacity: 0.7;
}

@media (max-width: 835px) {
  .promo-blocks {
    flex-direction: column;
  }

  .promo-text {
    margin-top: 10px;
    width: calc(100% - 40px);
  }

  .promo-left {
    margin-right: 0px;
  }
}

@media (max-width: 470px) {
}

/* table {
  width: 100%;
  overflow: auto;
} */

.promo-table {
}

table tr th {
  text-align: left;
}

table tr td {
  padding: 11px 0px;
  white-space: nowrap;
}

table tr td:first-child {
  padding-left: 0px;
}

.promo {
  min-width: 176px;
}

.activate {
  min-width: 118px;
}

.amount {
  min-width: 141px;
}

.text {
  min-width: 280px;
}

.date {
  min-width: 250px;
}

/* .menu-list__item {
  justify-content: center;
} */

@media (max-width: 840px) {
  .promo-input {
    width: calc(100% - 100px);
  }

  .promo-input__two {
    width: calc(100% - 20px);
  }

  .random-promo {
    width: 80px;
    right: 0px;
  }

  .promo-form {
    /* width: calc(100vw - 30vw - 60px); */
    /* margin: 0 auto; */
  }

  .promocodes-table {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media (max-width: 650px) {
}

@media (max-width: 460px) {
  .promo-bottom {
    flex-direction: column;
  }

  .promo-withdraw__block {
    margin-bottom: 10px;
  }
}

.promo-select__dropdown {
  position: absolute;
  background-color: #0e1012;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #22282f;
}

.promo-select__menu {
  position: relative;
}

.dropdown-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px;
  cursor: pointer;
  transition: all 0.3s;
  border-right: 1px solid transparent;
}

.dropdown-list__item:hover {
  opacity: 0.9;
  border-right: 1px solid #085bf8;
  background-color: #1b1f22;
}

.worker-header__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-title {
  display: flex;
  align-items: center;
}

.menu-dropdown {
  padding: 5px;
  z-index: 11;
  background-color: #0b0d0f;
  position: absolute;
  top: 30px;
  right: -15px;
  border-radius: 10px;
  border: 1px solid #22282f;
}

.dropdown-list__item {
  border-radius: 8px;
  padding: 10px 30px 10px 10px;
  text-align: left;
}
