body,
html {
  background-color: #0b0d0f;
  color: #ffff;
  font-family: 'Manrope', Helvetica, sans-serif;
  font-style: normal;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: #ffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* clear */

.telegram-notif__form {
  padding: 25px 30px;

  background-color: #0e1012;
  border-radius: 10px;
}

.telegram-title {
  margin-bottom: 30px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.tg-user__input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 70px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  background-color: #0e1012;
  color: #ffffff;
  outline: none;
  border: 1px solid #1b1d1f;
  border-radius: 5px;
  transition: all 0.3s;
}

.tg-user__input:focus {
  border: 1px solid #085bf8;
}

.tg-user__input::placeholder {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #3c4043;
}

.telegram-user svg {
  position: absolute;
  left: 10px;
}

.telegram-group svg {
  position: absolute;
  left: 10px;
}

.telegram-user {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.telegram-group {
  position: relative;
  display: flex;
  align-items: center;
}

.add-button {
  position: absolute;
  padding: 12px 19px;
  right: 0px;

  font-family: 'San Francisco Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 92.5%;
  border: none;

  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(117.67deg, #3077ff 17.49%, #085bf8 105.01%);
  border-radius: 5px;
  transition: all 0.3s;
}

.add-button:hover {
  opacity: 0.7;
}

@media (max-width: 640px) {
  .current-route {
    font-size: 12px;
  }

  .prev-route {
    font-size: 12px;
  }

  .worker-profile {
    font-size: 12px;
  }

  .logout-button {
    font-size: 12px;
    white-space: nowrap;
  }
}

@media (max-width: 510px) {
  .panel-header {
    flex-direction: column;
  }

  .header-left {
    margin-bottom: 10px;
  }
}

@media (max-width: 405px) {
  .promo-panel {
    padding-left: 10px;
  }
  .header-right {
    flex-direction: column;
  }

  .worker-header__select {
    margin-top: 10px;
  }

  .telegram-notif__form {
    padding: 15px 15px;
  }

  .tg-user__input {
    width: 50%;
    padding-right: 10px;
  }

  .add-button {
    right: 35px;
  }
}
