body,
html {
  background-color: #0b0d0f;
  color: #ffff;
  font-family: 'Manrope', Helvetica, sans-serif;
  font-style: normal;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: #ffff;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* clear */
/* clear */
/* clear */

.users-info {
  padding: 25px 30px;
  width: 90%;

  background-color: #0e1012;
  border-radius: 10px;
}

.users-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.users-title svg {
  transition: all 0.3s;
  cursor: pointer;
}

.users-title svg:hover {
  opacity: 0.7;
}

.users-table {
  display: flex;
  flex-direction: column;
}

.table-columns {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.table-columns li {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #3c4043;
}
/* 
.mail {
  min-width: 220px;
}
.country {
  min-width: 130px;
}
.ip {
  min-width: 195px;
}
.promo-code {
  min-width: 205px;
}
.domain {
  min-width: 230px;
} */

.item {
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
}

.item li {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;

  color: #ffffff;
}

.users-table .table-item:nth-child(even) {
  background-color: #131618;
}

.country-flag {
  margin-right: 10px;
}

/* .mail {
  min-width: 208px;
}

.country {
  min-width: 140px;
}

.ip {
  min-width: 276px;
}

.promo-code {
  min-width: 208px;
}

.domain {
  min-width: 208px;
} */

/* сдыфв */
