.flot-tooltip {
    position: absolute;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.85);
    display: none;
    font-size: 0.95rem;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 0.7rem 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
  }

  .flot-tooltip{
    padding: 7px;
    border-radius: 4px
  }